# buildstuffs and other ephemera
.ipynb_checkpoints/
.idea
*/__pycache__/*
__pycache__/
*.egg-info/

# data
results/*
bvlc_alexnet.npy
*.npz
data/visual_search_stimuli/*
data/experiment_*/
data/checkpoints/*/
data/data_prepd_for_nets/*.gz
data/for_figshare/*

# tests
tests/test_data/visual_search_stimuli
