# buildstuffs and other ephemera
build/
dist/
.ipynb_checkpoints/
.idea
*/__pycache__/*
__pycache__/
*.egg-info/

# data
results/*
bvlc_alexnet.npy
*.npz
data/checkpoints/*/
data/csv/
data/experiment_*/
data/expt_*/
data/for_figshare/*
data/neural_net_weights/
data/visual_search_stimuli/*

# tests
tests/test_data/visual_search_stimuli
